:root {
    color-scheme: light dark;
    font-family: 'Roboto', sans-serif;

    --bg-color: light-dark(#f5f5f5, black);
    --text-color: light-dark(black, #f5f5f5);
    --accent-color: light-dark(#3a74cf, #99ccff);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

html, body {
    min-height: 100%;
}

body {
    padding: 32px;
    background: var(--bg-color);
    color: var(--text-color);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

button {
    background-color: var(--bg-color);
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    padding: 0.5rem;
}

button:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
}